@page "/"
@model itu_minitwit.Pages.TimelineModel
@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "Shared/_Layout";

}

<h2>@Model.PageTitle</h2>

@if (Model.IsUserLoggedIn)
{
    if (Model.IsViewingOwnTimeline)
    {
        <div class="twitbox">
            <h3>What's on your mind @Model.Username?</h3>
            <form method="post">
                <p><input type="text" name="Text" size="60">
                <input type="submit" value="Share">
            </form>
        </div>
    }
}

<ul class="messages">
    @if (Model.Messages.Any())
    {
        @foreach (var message in Model.Messages)
        {
            <li><img src="@message.EmailGravatarUrl" />
                <p><strong><a href="/UserTimeline?username=@message.Username">@message.Username</a></strong>
                    @message.Text
                    <small>&mdash; @message.PublishedAt.ToString("g")</small>
                </p>
            </li>
        }
    }
    else
    {
        <li><em>There's no message so far.</em></li>
    }
</ul>